body {
  margin: 0;
  font-family: 'Press Start 2P', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8CC7A1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-screen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  box-sizing: border-box;
}

.cb {
  margin: 45px;
}

.questions-screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}

.qb {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.icon-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.question-card {
  margin: 15px;
}

h1, h3 {
  padding: 50px 25px 25px 25px;
  text-align: center;
}

.black-box {
  display: grid;
  grid-template-columns: 1fr 5fr;
}