body {
  margin: 0;
  font-family: 'Press Start 2P', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-screen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.category-button {
  margin: 20px;
}